body {
  font-family: 'VT323', monospace;
  background-color: #004284;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  overscroll-behavior-y: none;
}
h3 {
  font-size: 60px;
  text-decoration: underline;
}
header {
  background-image: url('images/metallic.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 12% 88%;
  grid-template-rows: 100%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  height: 60px;
  overflow: scroll;
  overflow-x: hidden;
}
#home {
  font-family: 'Orbitron', sans-serif;
  color: white;
  align-self: center;
  font-size: 17px;
  height: 50px;
  width: 85px;
  background-color: black;
  border: outset darkgray;
  border-radius: 10px;
  margin-right: 75px;
}
#home:hover {
  border: inset darkgray;
}
h1 {
  margin-top: 100px;
  background-color: gray;
  width: 200px;
  border: 3px outset darkgray;
  border-radius: 15px;
  font-family: 'Orbitron', sans-serif;
}

h2 {
  font-size: 50px;
  background-color: black;
  width: 400px;
  border: 3px outset darkgray;
  border-radius: 15px;
}
#robot {
  margin-top: 80px;
  border: 5px groove black;
  border-radius: 15%;
}
p {
  width: 70vw;
  font-size: 35px;
  text-align: left;
}
p2 {
  display: block;
  font-size: 35px;
  width: 50vw;
}
p3 {
  width: 70vw;
  font-size: 35px;
  text-align: left;
}
img {
  margin-top: 30px;
  margin-bottom: 30px;
}
