header {
  height: 15vh;
  width: 100vw;
  background-color: aqua;
}
main {
  height: 70vh;
  width: 100vw;
  display: flex;
}
#combos {
  height: 100%;
  width: 20%;
  background-color: orange;
}
#section2 {
  height: 100%;
  width: 80%;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.combo {
  cursor: pointer;
}
footer {
  height: 15vh;
  width: 100vw;
  background-color: violet;
}
p {
  height: 87%;
}
#board {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* margin: 20px; */
}
button {
  cursor: pointer;
  display: flex;
}
