html {
  overflow: hidden;
}
body {
  font-family: 'Orbitron', sans-serif;
  background-color: #004284;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: 0;
}
header {
  background-image: url('images/metallic.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 12% 88%;
  grid-template-rows: 100%;
  align-items: center;
}
#counter-holder {
  border: 3px outset darkgray;
  border-radius: 15px;
  background-color: grey;
  color: white;
  padding: 7px;
  text-align: center;
  width: 189px;
  font-size: 22px;
}
#p2-score {
  border: 3px outset darkgray;
  border-radius: 15px;
  background-color: grey;
  color: white;
  /* height: 65px; */
  width: 240px;
  text-align: center;
  padding: 17px;
}
#p1-score {
  border: 3px outset darkgray;
  border-radius: 15px;
  background-color: grey;
  color: white;
  /* height: 65px; */
  width: 280px;
  text-align: center;
  padding: 17px;
}
#header {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  font-size: 25px;
}
main {
  height: 90vh;
  width: 100vw;
  display: flex;
}
#combos {
  height: 101%;
  width: 15%;
  background-image: url('images/metallic.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#section2 {
  height: 100%;
  width: 88%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80% 20%;
}
#info {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-columns: 10% 80% 10%;

  /* background: cover; */
}
#chosen-die {
  width: 10%;
  height: 50%;
  background-color: white;
}
#robot-talk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#robot {
  border: 5px groove black;
  border-radius: 15%;
}
#message {
  font-family: 'VT323', monospace;
  font-size: 45px;
  width: 50%;
  height: 100%;
  background-color: white;
  border: 5px outset grey;
  border-radius: 20px;
  height: 25%;
  text-align: center;
  margin: 50px;
}
#counter {
  width: 20%;
  height: 50%;
  background-color: indigo;
}
#dice-roller {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60% 30%;
  justify-content: center;
  margin-bottom: 20px;
}
.combo {
  font-size: 14px;
  cursor: pointer;
  border: 3px outset darkgray;
  text-align: center;
  height: 20px;
  vertical-align: center;
  margin: auto;
  width: 180px;
  padding: 10px;
  border-radius: 15px;
  background-color: black;
  color: white;
  position: relative;
  top: 0;
  transition: top ease 0.25s;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}
.combo:hover {
  top: -7px;
}
.picktracker {
  color: black;
}
.die {
  position: relative;
  top: 0;
  transition: top ease 0.25s;
  cursor: pointer;
}
.die:hover {
  top: -15px;
}
#board {
  height: 87%;
}
#board {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#holder {
  display: flex;
  justify-content: center;
  height: 100%;
}
#roll {
  cursor: pointer;
  display: flex;
  width: 115px;
  height: 45px;
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;
  background-color: black;
  color: white;
  border: outset darkgray;
  align-self: center;
  border-radius: 10px;
}
#roll:hover {
  border: inset darkgray;
}
#new-game {
  height: 27px;
  font-size: 17px;
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 5px;
  color: white;
  background-color: black;
  align-self: center;
  border: outset darkgray;
  height: 50px;
  border-radius: 10px;
}
#new-game:hover {
  border: inset darkgray;
}
#roll-counter {
  color: white;
}
#turn-counter {
  color: white;
}
#home {
  font-family: 'Orbitron', sans-serif;
  color: white;
  align-self: center;
  font-size: 17px;
  height: 50px;
  width: 85px;
  background-color: black;
  border: outset darkgray;
  border-radius: 10px;
}

#home:hover {
  border: inset darkgray;
}
